<div class="well">
    <h1>Partage des frais</h1>

    <br/>
    <alert type="info">Participation à hauteur de {{participationAmout}} euros par personne.</alert>

    <p>Pour simplifier les comptes, un pot commun est mis en place. Les personnes qui aurons déjà payé plus que la participatin demandé
         récupèreront ce surplus dans le pot commun tandis que ceux qui n'auront pas totalement payé le montant demandé
          devront reverser ce qu'il leur manquait à payer dans le pot commun.</p>
          
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let debt of allDebts">
                <td>{{debt.toStringForResume()}}</td>
            </tr>
        </tbody>
    </table>

    <button routerLink="/participants" style="float: right" type="submit" class="btn btn-success">Refaire un calcul de partage de frais</button>
    <br/><br/>
</div>