<div class="well">
    <h1>Partage des frais</h1>

    <br/>
    <alert type="info">Participation à hauteur de {{participationAmout}} euros par personne.</alert>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Dette(s)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participantDebts of participantsDebts">
                <td>{{participantDebts.participant}}</td>
                <td>
                    <ul [hidden]="participantDebts.debts.length === 0">
                        <li *ngFor="let debt of participantDebts.debts">
                            doit {{debt.amount}}€ à {{debt.participant}}
                        </li>
                    </ul>
                    <span [hidden]="participantDebts.debts.length !== 0">
                        n'a plus rien à payer ! 
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <button routerLink="/participants" style="float: right" type="submit" class="btn btn-success">Refaire un calcul de partage de frais</button>
    <br/><br/>
</div>