<div class="well">
    <h1>Qui a déjà payé combien ? </h1><br/>

    <form (ngSubmit)="register(form.value)" #form="ngForm" class="form-horizontal">
        <div class="form-group" *ngFor="let participant of participants; let i = index">
            <label for="{{i}}" class="col-sm-2 control-label">{{participant}}</label>
            <div class="col-sm-3">
                <input type="number" min="0" class="form-control" name="{{i}}" placeholder="montant" id="{{i}}" ngModel>
            </div>
        </div>
        <button style="float: right" type="submit" class="btn btn-success">Suivant</button>
    <br/><br/>
    </form>
</div>