<div class="well">
  <h1>Liste des participants :</h1>

  <form (ngSubmit)="register()" [formGroup]="participantsForm">
    <div class="input-group">
      <input type="text" placeholder="Entres un prénom" class="form-control" formControlName="name" (keydown.enter)="addParticipant($event)">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="addParticipant()">Ajouter</button>
      </div>
    </div>
    <br/>

    <div class="well">

      <alert type="warning" *ngIf="participants.length === 0">Aucun participant encore ajouté</alert>
      <ul>
        <li *ngFor="let participant of participants; let i = index">
          {{participant}}
          <button type="button" class="btn btn-default btn-sm" (click)="deleteParticipant(i)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </li>
      </ul>  
    </div>
    
    <button style="float: right" type="submit" class="btn btn-success" [disabled]="participants.length < 2">Suivant</button>
    <br/><br/>
  </form>
</div>